header{
    width: 100vw;
    height: 68px;
    position: fixed;
    z-index: 1;
    background-color: #111;
    font-family: 'SUITE-Regular';
    >.nav-wrap{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        width: 100%;
        max-width: 1024px;
        margin: 0 auto;
        .logo-box{
            display: flex;
            align-items: center;
            padding-left: 15px;
            img{
                width: 48px;
            }
        }
        .nav-left-list{
            display: flex;
            gap: 50px;
            li{
                a{
                    color: #777;
                    font-size: 0.9vw;
                    font-weight: 600;
                    &:hover{
                        color: #fff;
                    }
                }
            }
        }
        .nav-right-list{
            display: flex;
            gap: 26px;
            li{
                a{
                    color: #777;
                    font-size: 0.8vw;
                    font-weight: 600;
                    &:hover{
                        color: #fff;
                    }
                }
            }
        }
        .icon-box{
            display: flex;
            gap: 40px;
            font-size: 1.2rem;
            color: #fff;
            cursor: pointer;
            padding-right: 15px;
        }
        @media screen and (max-width:768px) {
            .nav-left-list{
                display: none;
            }
            .nav-right-list{
                display: none;
            }
        }
    }
}