header{
    width: 100vw;
    height: 68px;
    position: fixed;
    z-index: 1;
    background-color: #111;
    >.wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        width: 100%;
        max-width: 1600px;
        margin: 0 auto;
        .logoBox{
            display: flex;
            align-items: center;
            padding: 20px 20px;
            img{
                width: 80%;
            }
        }
        .mainNavbar{
            display: flex;
            gap: 50px;
            margin-right: 680px;
            li{
                a{
                    color: #777;
                    font-weight: 600;
                    &:hover{
                        color: #fff;
                    }
                }
            }
        }
        .subNavbar{
            display: flex;
            gap: 26px;
            li{
                a{
                    color: #777;
                    font-weight: 600;
                    &:hover{
                        color: #fff;
                    }
                }
            }
        }
        .iconBox{
            display: flex;
            gap: 26px;
            color: #fff;
        }
        @media screen and (max-width:768px) {
        }
    }
}