.video-section{
    scroll-snap-align: start;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    .video-wrap{
        width: 100%;
        height: 100%;
        overflow: hidden;
        video{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .title-wrap{
        display: flex;
        align-items: center;
        .title-box{
            .title-box__text{
                font-family: 'SUITE-Regular';
                display: flex;
                flex-direction: column;
                gap: 10px;
                margin: 0 auto;
                position: absolute;
                bottom: 20%;
                left: 12%;
                p{
                    color: #fff;
                    font-size: 0.9vw;
                }
                h2{
                    font-family: 'SUITE-Regular';
                    color: #fff;
                    font-size: 2.5vw;
                }
                }
                .title-box__button{
                    margin-top: 50px;
                    button{
                        font-family: 'SUITE-Regular';
                        border: 2px solid #fff;
                        border-radius: 4px;
                        background-color: transparent;
                        color: #fff;
                        font-size: 20px;
                        padding: 16px 60px;
                        &:hover{
                            background-color: #fff;
                            color: #111;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }