footer{
    scroll-snap-align: start;
    scroll-snap-type: y mandatory;
    overflow: auto;
    width: 100%;
    height: 410px;
    background-color: var(--color-black);
    font-family: 'SUITE-Regular';
    display: flex;
    .nav-wrap{
        color: var(--color-white);
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 70px 50px;
        gap: 40px;
        .logo-box{
            width: 100%;
            display: flex;
            img{
                width: 48px;
            }
        }
        .nav-box{
            display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
            .list-box{
            display: flex;
            justify-content: space-between;
            width: 30%;
                .nav-left-list{
                    font-size: 0.9vw;
                    font-weight: 700;
                    display: flex;
                    gap: 24px;
                    flex-direction: column;
                    }
                .nav-right-list{
                    font-size: 0.8vw;
                    display: flex;
                    gap: 10px;
                    flex-direction: column;
                    color: var(--color-gray);
                }
            }
            .icon-box{
                display: flex;
                gap: 24px;
                font-size: var( --icon-size);
                cursor: pointer;
            }
        }
    }
    @media screen and (max-width:768px){
        height: 210px;
        .nav-wrap{
            padding: 40px 20px;
            .logo-box{
                display: none;
            }
            .nav-box{
                    display: flex;
                    flex-direction: row;
                    width: 100%;
                    .list-box{
                        display: flex;
                        flex-direction: column;
                        width: 100%;
                        gap: 50px;
                        .nav-left-list{
                            width: 100%;
                            height: 70%;
                            font-size: 3vw;
                            font-weight: 700;
                            gap: 10px;
                            flex-direction: row;
                            li{
                                &:last-child{
                                    display: none;
                                }
                                &::after{
                                    content: "·";
                                    padding-left: 5px;
                                    cursor: pointer;
                                }
                                &:nth-child(3)::after{
                                    content: "";
                                }
                            }
                        }
                        .nav-right-list{
                            width: 100%;
                            height: 30%;
                            color: var(--color-white);
                            font-size: 2.7vw;
                            flex-direction: row;
                            li{
                                &:nth-child(3){
                                    display: none;
                                }
                                &:last-child{
                                    display: none;
                                }
                                &::after{
                                    content: ">";
                                    padding-left: 5px;
                                    cursor: pointer;
                                }
                            }
                        }
                    }
                .icon-box{
                    width: 24%;
                    flex-direction: row;
                }
            }
        }
    }
}